.list-container{
    border: 5px solid blue;
    margin-top: 0;
    margin-left : 0;
    font-size: large;
    text-align: center;
    width: 50%;
    color: red;
    position: fixed;
    top: 0;
    
}
.list{
    border: 10px blue;
    padding: 2px;
    width: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons{
    display: none;
}

.list-button{
    background-color: rgb(127, 127, 224);
    height: fit-content;
    margin-left: 5px;
    margin-top: 2px;
}
.item-container{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;  
    background-color:gray;
}
.item-container:hover .buttons {
    display: block;
  }
